great_expectations==1.5.8
ipykernel==6.30.1
joblib==1.4.2
jupyter==1.1.1
lightgbm==4.6.0
matplotlib==3.10.5
mlflow==2.14.1
numpy==1.26.4
openpyxl==3.1.5
optuna==4.4.0
pandas==2.1.4
pytest==8.3.2
scikit-learn==1.5.2
seaborn==0.13.2
xgboost==3.0.3
